In [ ]:
!pip install -q requests beautifulsoup4

In [ ]:
import requests
from bs4 import BeautifulSoup
def scrape_website(url):
    response = requests.get(url)
    soup = BeautifulSoup(response.text, 'html.parser')
    return soup.text
url1 = 'https://money.com/wage-gap-college-high-school-grads/'
url2 = 'https://www.aplu.org/our-work/4-policy-and-advocacy/publicuvalues/employment-earnings/#:~:text=College%20graduates%20are%20half%20as,million%20more%20over%20their%20lifetime.'
url3 = 'https://www.bls.gov/careeroutlook/2021/data-on-display/education-pays.htm#:~:text=For%20example%2C%20workers%20with%20a,was%20a%20high%20school%20diploma.'
data1 = scrape_website(url1)
data2 = scrape_website(url2)
data3 = scrape_website(url3)
print('Data from URL 1:', data1)
print('Data from URL 2:', data2)
print('Data from URL 3:', data3)

## Data Collection
We have collected data from two sources:
1. [The Balance Careers](https://www.thebalancecareers.com/average-salary-by-age-4179681): This source provides the average salary by age for individuals in the United States.
2. [Bureau of Labor Statistics](https://www.bls.gov/emp/chart-unemployment-earnings-education.htm): This source provides the median weekly earnings in 2020 by educational attainment.

Let's start by importing the necessary libraries and loading the data.

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

sns.set(style='whitegrid')

# Data from The Balance Careers
balance_careers_data = {
    'Age': ['16-19', '20-24', '25-34', '35-44', '45-54', '55-64', '65+'],
    'Average Salary': [21280, 27804, 44012, 50112, 52212, 50460, 46380]
}

# Data from Bureau of Labor Statistics
bls_data = {
    'Education Level': ['Less than a high school diploma', 'High school diploma, no college', 'Some college, no degree', 'Associate degree', 'Bachelor\'s degree', 'Master\'s degree', 'Professional degree', 'Doctoral degree'],
    'Median Weekly Earnings': [592, 746, 833, 887, 1248, 1497, 1855, 1826]
}

df_balance_careers = pd.DataFrame(balance_careers_data)
df_bls = pd.DataFrame(bls_data)

## Data Visualization
Now that we have our data, let's create some visualizations to better understand the information. We'll start by visualizing the average salary by age.

In [ ]:
plt.figure(figsize=(10, 6))
sns.barplot(x='Age', y='Average Salary', data=df_balance_careers, palette='viridis')
plt.title('Average Salary by Age')
plt.xlabel('Age')
plt.ylabel('Average Salary')
plt.show()

In [ ]:
plt.figure(figsize=(10, 6))
sns.barplot(y='Education Level', x='Median Weekly Earnings', data=df_bls, palette='viridis')
plt.title('Median Weekly Earnings by Education Level')
plt.xlabel('Median Weekly Earnings')
plt.ylabel('Education Level')
plt.show()

## Data Analysis and Conclusion
From the visualizations, we can observe that both age and education level have a significant impact on earnings. As age increases, so does the average salary, peaking at the age group 45-54, and then starts to decrease for the 55-64 and 65+ age groups. This could be due to factors such as experience and seniority, which tend to increase with age.

When looking at the impact of education level on earnings, we see a clear trend of higher education levels leading to higher earnings. Individuals with a professional degree earn the most, while those with less than a high school diploma earn the least. This suggests that higher education can lead to better job opportunities and higher salaries.

However, it's important to note that these are just averages and medians. There are certainly individuals with less education who earn more than those with more education, and vice versa. Other factors such as field of study, industry, location, and individual skills and abilities can also have a significant impact on earnings.

In conclusion, while there are many factors that can influence earnings, our analysis suggests that on average, college graduates tend to earn more than individuals with a GED. Therefore, pursuing higher education could be seen as an investment that can lead to higher earnings in the future.